
body {
    background-color: rgb(252, 252, 252);
}
.form-styles{
    width: 80%;
    margin: auto;
    
}
.button-right{
    display: flex;
    justify-content: flex-end;
}
.button-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-container{
    display: flex;
    flex-direction: row;
   
}
.table-show{

    padding: 0.8rem 0.5rem;
}
