{% extends 'base.html.twig' %}

{% block title %}Edit Scpi{% endblock %}

{% block body %}
<div class ="form-styles" >
<div class="button-right">
  <a class="btn btn-secondary" href="{{ path('scpi_index') }}">back to list</a>
  </div>
    <h1>Edit Scpi</h1>

    {{ include('scpi/_form.html.twig', {'button_label': 'Update'}) }}

  

    {{ include('scpi/_delete_form.html.twig') }}
    </div>
{% endblock %}
