<form method="post" action="{{ path('societe_de_gestion_delete', {'id': societe_de_gestion.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cet item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ societe_de_gestion.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
