{% extends 'base.html.twig' %}

{% block title %}New SocieteDeGestion{% endblock %}

{% block body %}
<div class ="form-styles" >
<div class="button-right">
 <a class="btn btn-secondary" href="{{ path('societe_de_gestion_index') }}">back to list</a>
 </div>
    <h1>Create new SocieteDeGestion</h1>

    {{ include('societe_de_gestion/_form.html.twig') }}

   
    </div>
{% endblock %}
